/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Wildcard selector to change browser default styles */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* General styles */

body{
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    font-family: 'Open sans', public-sans;
    width:100%;
    margin:auto !important
}


/* to change the 'smartguide' in the logo to orange */
#orange {
    color:orange;
}

#blue {
    color:#2289e6;
}

/* Headings */

header {    
    font-size:15px
}

h1 {
    font-family: 'Public sans' , open-sans;
}

.headers{
    font-size:35px;
    text-wrap: wrap;
    margin-top:2rem;
    margin-left:3rem;
    margin-bottom:2rem;
    width:85%;
    margin:auto;
    text-align:center;
}

/* Main section */

main {
    flex:1 0 auto;
}

.paragraphs{
    text-align:center;
    font-size:14px;
    width:85%;
    margin:auto;
    margin-bottom:1rem;
    margin-top:1rem;
}

.scroll-button {
    border-radius:10px;
    padding:5px;
    background-color:#2289e6;
    color:white;
    font-size:13px;
    border:none;
    text-decoration:none;
    
}

.scroll-button2{
    border-radius:10px;
    padding:5px;
    border:none;
    background-color:orange;
    color:white;
    font-size:13px;
    text-decoration:none;
}

.scroll-buttons {
display: flex;
justify-content: center; 
align-items: center;
gap: 1rem; /* Adds space between buttons */
margin-top: 1rem;

}

.steps {
    
    margin:auto;
    margin-top:2rem;
    margin-left:3rem;
    font-size:13px;
    width:85%;
    align-content:center;
}

.plane{
margin-top:2rem;
width:100%;

}

.form {
    width:100vh;
    margin:auto
}

.palletCalculator {
    display: flex;
    flex-direction:column;
    width: 300px;
    margin: auto !important;
}

.palletCalculator label {
    margin-top:5px;
}

#vanOutput {
    border: 1px solid black;
    border-color: orange;
    margin-top:15px;
    height:45px;
}

/* Buttons */

#calculatePallet {
    background-color: white;
    padding:5px;
    width:250px;
    margin:auto;
    margin-bottom:20px;
    color:black;
    border: 2px solid black;
    border-radius:10px;
}

#resetButton{
    border: 2px solid black;
    background-color:white;
    width:250px;
    margin:auto;
    padding:5px;
    border-radius:10px;
    }

.faq{
    background:orange;
    font-size:11px;
    margin-left:1px;
    margin-bottom:2rem;
}

/* For background color to buttons when clicked (added the .active class with JS) */
.active, .accordion:hover {
background-color: #ccc;}

.accordion {
    border:none;
    background-color:orange;
    width:100%;
    text-align:left;

}

.panel{
    display:none;
}



  /* code amended from W3schools */

.accordion::after {
  content: "+"; /* To show plus sign originally */
float: right;
margin-left: 10px;
font-size: 20px;
}

/* When active */
.accordion.active::after {
  content: "−"; /* Changes to minus when clicked due to the function in javascript */
}

.truck {
margin-top:0.5rem;
width:100%;
}


    /* Footer section */

footer {
    display:flex;
    flex-direction:column;
    background-color:#F5F5F5;
    padding-left:10px;
    color:black;
    /* border-top:2px solid black; */
}

.logo{
color:#2289e6;
float:left;
}

.socials{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    width:70%;
    margin-bottom:1rem;
    margin-top:1rem;

}

.socials a {
    color:black;
    margin-left:50px;
}

/* Vehicle Guide Page */

.table{ 
table-layout:fixed;
overflow-x: auto;
display: block;
}

.sizeguide{
    text-align:center;
    font-size:35px;
    font-weight: bold;
    margin-top:3rem;
    margin-bottom:3rem
}

.card{
    border:none;
    width:90%;
    margin:auto
}

/* Contact us page */

.contact-header {
    margin-left:1rem;
}

.contact-form {
    width:90%;
    margin-left:1rem;
}

/* Success page */

.success {
    width:85%;
    margin-top:5rem;
    margin-left:2rem;
}

.sucess-header{
    font-size:35px
}
.sucess-paragraph {
    margin-top:2rem;
    font-size:15px;
}

.home {
border-radius:10px;
    padding:5px;
    border:none;

    background-color:orange;
    color:white;
    font-size:13px;
    text-decoration:none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    main {
        margin-top:50px;
    }

    .headers{
        font-size:25px;
        margin-top:35px;
        margin-left:6rem;
        font-size:40px;
    }

    .paragraphs{
        font-size:15px;
        margin-top:20px;
    }

    .steps{
        font-size:15px;
    }

    .leftheader {
        font-size:25px;
        margin-bottom:2rem;

    }
    
.image-form-wrapper {

margin-right:10rem;

}

.image-form-wrapper .plane {
max-width: 30%; 
width: 100%;
float:right;
margin-bottom:3rem;
}

.palletCalculator {
margin-top:3rem;
}


    .palletCalculator > input {
        width: 350px;
        height:30px; 
    }

    .palletCalculator > label {
        font-size: 21px;
    }

    select{
        height:30px;
        width:350px;
    }

    #vanOutput{
        width:350px;
        height:60px !important;
        border-color: orange;
    }

    #calculatePallet {
        height:45px;
    }

    #resetButton {
        height:45px;
    }

    .faq{
    margin-top:2rem;
    width:85%;
    margin-left:8rem;
    }

    /* .accordion {
        text-align:center;
    } */

    footer{
        padding-top:5px;
        font-size:18px;
    }

}
